.container {
  padding: 4rem;
  padding-top: 8rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question {
  width: 70%;
  min-width: 600px;
  margin: 0 auto;
  background-color: var(--card-bg);
  color: white;
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  padding: 2rem;
}

.question p {
  color: gray;
  margin-bottom: 4px;
}

.skills {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.skills span {
  padding: 6px 12px;
  background-color: var(--bg);
  font-size: 14px;
  color: gray;
  border-radius: 4px;
  cursor: pointer;
}

.skills span:hover {
  background-color: #111111;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
  border: 1px solid #242424;
  border-radius: 4px;
  margin-top: 8px;
}

.inputGroup {
  display: flex;
  gap: 8px;
  width: 100%;
}

.inputGroup div {
  flex: 1;
}

.action {
  display: flex;
  gap: 8px;
}

#delete {
  background-color: #9b1a1a;
}

#delete:hover {
  background-color: #bc2020;
}
