.container {
  padding: 4rem;
  padding-top: 8rem;
  min-height: 100vh;
}

.content {
  width: 70%;
  min-width: 600px;
  margin: 0 auto;
  background-color: var(--card-bg);
  color: white;
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  padding: 2rem;
}
