.container {
  padding: 2rem;
  flex: 1;
  background-color: var(--card-bg);
  height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  height: max-content;
}

.basic {
  display: flex;
  gap: 20px;
}

.img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}

.info p {
  color: #9c9c9c;
}

.info a {
  color: var(--link);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.info a:hover {
  text-decoration: underline;
}

.cta {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.socials {
  display: flex;
  align-items: center;
  color: gray;
  gap: 8px;
  font-size: 24px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: white;
}

.skills,
.stack {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  margin-top: 3rem;
}

.skills span,
.stack span {
  padding: 6px 12px;
  background-color: var(--bg);
  color: #c4c4c4;
  font-size: 14px;
  border-radius: 4px;
}

.stack {
  margin-top: 1rem;
}

.stack span {
  font-size: 12px;
  background-color: var(--card-bg);
}

.experience {
  margin-top: 3rem;
}

.experience > p {
  margin-bottom: 8px;
}

.exps {
  border-left: 1px solid #202020;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 12px;
}

.expCard {
  padding: 12px;
  background-color: var(--bg);
  border-radius: 6px;
}

.expCard p {
  font-size: 14px;
}

.expCard p span {
  color: #a3a3a3;
}

.desc {
  margin-top: 12px;
  color: #dcdcdc;
}
