.container {
  padding: 2rem;
  flex: 1;
  background-color: #151515;
  height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.144);
  height: 110vh;
  color: white;
}

.basic {
  display: flex;
  gap: 20px;
}

.img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}

.info p {
  color: #9c9c9c;
}

.info a {
  color: rgb(24, 84, 173);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.info a:hover {
  text-decoration: underline;
}

.cta {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.socials {
  display: flex;
  align-items: center;
  color: gray;
  gap: 8px;
  font-size: 24px;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: white;
}

#approach {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  background-color: #0a458e;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  transition: scale 0.2s ease;
}

#approach:hover {
  background-color: #0d52a7;
}

#approach:active {
  scale: 0.95;
}
