@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary: #0d52a7;
  --link: #2166c1;
  --bg: #0f0f0f;
  --card-bg: #151515;
  --card-shadow: 0px 0px 6px #00000025;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  overflow: overlay;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  background-color: #0a458e;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  transition: scale 0.2s ease;
}

button:hover {
  background-color: #0d52a7;
}

button:active {
  scale: 0.95;
}

::selection {
  background-color: #ffffff;
  color: black;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 6px solid rgba(0, 0, 0, 0);
  background-color: rgb(36, 36, 36);
  background-clip: padding-box;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(52, 52, 52);
}
